# Dependency directories
evm/.deps

# Output
out/
cache/
dist/
target/
**/out/
**/cache/
**/dist/
**/target/

# IDE files
# .vscode/
.idea/

# OS files
.DS_Store
*~

# Node.js
node_modules/

# Python and temporary files
**/__pycache__/
**/*.wip

# Environment files
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

# Broadcast folders
broadcast/
**/broadcast/

# Lockfiles
Cargo.lock
**/Cargo.lock
foundry.lock
**/foundry.lock
uv.lock
**/uv.lock

# Old files and folders
arrakis-v2
*.old
**/*.old/
